body{
	font-size: 1rem;
	color: black;
	background-color: white;
	font-family: arial

}
.lead{
	font-size: 16px;
}

	
.header-nav {
	width: 100%;
	background-color: grey;
	height: 50px;
}

h2,h3{
	text-align: center;

}
.jumbotron{
	background-color: grey;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: black;
	height: 1000px;

}
.jumbotron p{
	font-size: 1rem;
}



 .navbar-toggle .navbar-default .icon-bar{
 	position: relative;
 	float: right;
	 background-color: grey;

 }
.navbar-default{
	background-color: grey:
		border-color: black;
}
.navbar navbar-default{
	transition: top 0.3s /* transition effect when slidding down (and up) */
		
}
div#collapsable-nav{
	border-color: wheat;
	text-align: center;
}
#collapsable-nav a:hover{
	background-color: lightblue;
	curser: pointer;
}
.navbar-default .navbar-toggle{
	border-color: white;
	background-color: wheat;
}

