body{
	font-size: 1rem;
	color: black;
	background-color: white;

}
.lead{
	font-size: 16px;
}

	
#header-nav {
	width: 100%;
	background-color: grey;
	height: 50px;
}

h2,h3{
	text-align: center;

}
.jumbotron{
	background-color: grey;

}
.jumbotron p{
	font-size: 1rem;
}


 .navbar-toggle .navbar-default .icon-bar{
 	position: relative;
 	float: right;
	 background-color: white;

 }
.navbar-default{
	background-color: grey:
		borde-color: black;
}
.navbar navbar-default{
	transition: top 0.3s /* transition effect when slidding down (and up) */
		
}
element.style{
	top: 0 -50px;
}

