body{
	font-size: 1rem;
	color: black;
	background-color: white;

}
.lead{
	font-size: 16px;
}

	
#header-nav {
	width: 100%;
	background-color: grey;
	height: 50px;
}

h2,h3{
	text-align: center;

}
.jumbotron{
	background-color: grey;

}
.jumbotron p{
	font-size: 1rem;
}


 .navbar-toggle .navbar-default .icon-bar{
 	position: relative;
 	float: right;
	 background-color:white:

 }
.navbar-default{
	background-color: grey:
		borde-color: black;
}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	text-align:center;
	color:black;
}
#nav-list a  span{
	font-size:32px;
}
 
